body{
    background-color: #666;
    margin: 0;
    padding: 0;
}


.rule{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.rule li{
    line-height: 2;
    white-space: nowrap;
}

.ruleBtn{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

h1{
    font-size: 40px;
    white-space: nowrap;
}
h2{
    color: white;    
}

.maru{
    color: black;
}


.batu{
    color: red;
}

.boxes{
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%,-50%);
width: 300px;
height: 300px;
background-color: #222;
margin: 20px auto;
}

.box{
width: 100px;
height: 100px;
background-color: white;
border: 1px solid #222;
float: left;    
font-size: 70px;    
line-height: 100px;
text-align: center;
}

.winMessage{
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%,-50%);  
    color: white;
}

.restart{
width: 150px;
position: absolute;
top: 85%;
left: 50%;
transform: translate(-50%,-50%);        
margin: 0 auto;
cursor: pointer;
}


.restart a{
text-decoration: none;           
}

.restart p{
border-radius: 10px;        
text-align: center;
color:white;
background-color:#222;
}


.restart a:hover{
text-decoration: none;
}

.restart p:hover{
color:white;
background-color:black;
}

#aaaa{
    color: red;
}


.remaining{    
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%,-50%);        
margin: 0 auto;
}


@media screen and (max-width:500px){
    
    .rule li{
        white-space: normal;
    }
    .rule{
        position: static;
        transform: translate(0,0);
        width: 90%;
        margin-left:5%;
        margin-top: 100px;
    }
    li{
        font-size: 20px;
    }
    .ruleBtn{        
        top: 5%;
    }
    .winMessage{        
        top: 83%;
    }
    
    .restart{
    top: 90%;
    }
    .remaining{            
        top: 75%;
    }
} 

